### Task 1

In [4]:
import pandas as pd

df = pd.read_csv("https://drive.google.com/uc?id=1Mlu9r3afSGz5_02Y3wDJoQLpXszQXaIU", index_col="order_id")

print(f"First 5 rows:\n{df.head()}\n\n")
print(f"Last 5 rows:\n{df.tail()}")

First 5 rows:
          customer_name   product  quantity  unit_price  order_date     status
order_id
1001      Alice Johnson    Laptop       1.0     85000.0  2024-01-15  delivered
1002          Bob Smith     Mouse       3.0       499.0  2024-01-16    pending
1003        Carol White   Monitor       2.0     15000.0         NaN  delivered
1004         Dave Brown  Keyboard       NaN      1200.0  2024-01-18  cancelled
1005          Eva Green    Laptop       1.0     85000.0  2024-01-19  delivered


Last 5 rows:
         customer_name   product  quantity  unit_price  order_date     status
order_id
1016       Paul Harris     Mouse       6.0       499.0  2024-01-30    pending
1017      Quinn Martin   Monitor       NaN     14500.0  2024-01-31  delivered
1018       Rachel King    Laptop       1.0     85000.0         NaN  delivered
1019        Sam Wright  Keyboard       3.0      1200.0  2024-02-01  cancelled
1020        Tina Baker   USB Hub       2.0       799.0  2024-02-02    pending

### Task 2

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 1001 to 1020
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_name  20 non-null     object
 1   product        20 non-null     object
 2   quantity       16 non-null     float64
 3   unit_price     20 non-null     float64
 4   order_date     16 non-null     object
 5   status         20 non-null     object
dtypes: float64(2), object(4)
memory usage: 1.1+ KB

#### Answers

* The dataset has 20 rows and 6 columns.
* The following columns have missing values:
    * "quantity" column has 4 null values
    * "order_date" column has 4 null values
* The "order_date" column needs data type conversion. I will use `pd.to_datetime()`

### Task 3

In [3]:
df.describe()

        quantity    unit_price
count  16.000000     20.000000
mean    2.437500  20224.600000
std     1.504161  33573.389607
min     1.000000    499.000000
25%     1.000000    799.000000
50%     2.000000   2500.000000
75%     3.000000  14625.000000
max     6.000000  85000.000000

#### Answers

* The median unit_price is: 2500
* Yes, the unit_price data is very skewed.
    * From the above table, we can see that the mean is very higher than the median.
    * This is because of very large outliers which are increasing the mean.
    * This can be confirmed by the fact that the max value is 85000 whereas the median is just 2500.
    * We can also see that the std deviation is around 33000 which is also very high. This means that there are high valued outliers that differ hugely compared to mean.
    * Therefore we can say that the unit_price data is positively skewed.